<!-- login popup -->
<div class="modal fade login_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="login_box">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <form>
            <div class="row">
                <div class="form-group col-sm-12">
                    <input class="form-control" id="" placeholder="Email Address" type="email">
                </div>
                <div class="form-group col-sm-12">
                    <input class="form-control" id="" placeholder="Password" type="password">
                </div>
                <div class="col-sm-6 my_checkboxes">
                  <form action="#">
                    <p class="remember">
                      <input type="checkbox" id="test1" />
                      <label for="test1">Remember Me</label>
                    </p>
                  </form>    
                </div>
                <div class="col-sm-6">
                    <p class="forgot"><a href="#">Forgot password?</a></p>
                </div>
                <div class="col-sm-12">
                <button type="submit" class="btn btn-default login_btn">Log in</button>
                <fieldset>
                  <legend> or </legend>
                </fieldset>
                <button type="submit" class="btn btn-default login_btn fb_btn"><img src="../../../assets/images/facebook-icon.png" alt="facebook-icon">Log in with Facebook</button>
                <button type="submit" class="btn btn-default login_btn google_btn"><img src="../../../assets/images/google-icon.png" alt="google-icon">Log in with Google</button>
                <p class="signup_account">Don't have an account? <a href="#">Sign Up</a></p>
              </div>
            </div>
          </form>   
          </div>
      </div>
  </div>
</div>
<!-- End login popup -->
