.footer_wrapper{padding: 140px 60px 90px;background: url('/assets/images/footer-bg.png') no-repeat bottom right;}
.footer_block ul li{line-height: 20px;}
.footer_block ul li a{font-size: 14px; color: #5e5e5e;}
.footer_block ul li a:hover{text-decoration: none;}
.footer_nav{margin: 15px 0 25px;}
.footer_nav a{color: #5e5e5e; font-size: 14px; padding-right: 22px;}
.footer_nav a:hover{text-decoration: none;}
.footer_bottom span{color: #5e5e5e;}