<div class="footer_wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2">
        <div class="footer_block">
          <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Policies</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Diversity & Belonging</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="footer_block">
          <ul>
            <li><a href="#">Why Become A Planner</a></li>
            <li><a href="#">Hospitality</a></li>
            <li><a href="#">Responsibility</a></li>
            <li><a href="#">Trust & Safety</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="footer_nav">
          <a href="#">Terms</a>
          <a href="#">Privacy</a>
          <a href="#">Site Map</a>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="footer_bottom">
          <span>&copy; PLOY TRIP LLC. 2018</span>
        </div>
      </div>
    </div>
  </div>
</div>