<app-header></app-header>
<!-- Slider section -->
<div class="slider_wrapper">
  <img class="img-responsive" src="../../assets/images/slider-image.png" alt="slider-image">
</div>
<!-- End Slider section -->

<!-- Featured Planner section -->
<section class="faetureplan_wrapper">
  <div class="faetureplan_heading">
      <div class="container-fluid">
          <div class="section_heading">
              <img src="../../assets/images/heading-icon1.png" alt="heading-icon">
              <h1>Featured Planners</h1>
              <div class="head_border"></div>
            </div>
      </div>
  </div>
  <div class="faetureplan_block">
    <div class="faetureplan_profile">
        <img src="../../assets/images/Fplanner_img1.png" alt="planners-image">
    </div>
    <div class="faetureplan_block_detail">
      <h3>Jesper C. 
        <span class="faetureplan_block_rating">
          <img src="../../assets/images/star-icon2.png" alt="rating-icon">
          <img src="../../assets/images/star-icon2.png" alt="rating-icon">
          <img src="../../assets/images/star-icon2.png" alt="rating-icon">
          <img src="../../assets/images/star-icon2.png" alt="rating-icon">
          <img src="../../assets/images/star-icon2.png" alt="rating-icon">
          <span class="rating_count">12</span>
        </span>
      </h3>
      <p>Photographer</p>
      <div class="planner_required">
        <span>Has a car</span>
        <span>Adventurous</span>
        <span>Foodie</span>
        <span>Knows his bars</span>
        <span>Outdoor Enthusiast</span>
      </div>
      <p class="faetureplan_location"><img src="../../assets/images/location-icon.png" alt="location-icon"> Los Angeles, CA</p>
      <h4><span>Planning From</span> $10/day</h4>
    </div>
  </div>
  <div class="faetureplan_block">
      <div class="faetureplan_profile">
          <img src="../../assets/images/Fplanner_img2.png" alt="planners-image">
      </div>
      <div class="faetureplan_block_detail">
          <h3>Jesper C. 
              <span class="faetureplan_block_rating">
                <img src="../../assets/images/star-icon2.png" alt="rating-icon">
                <img src="../../assets/images/star-icon2.png" alt="rating-icon">
                <img src="../../assets/images/star-icon2.png" alt="rating-icon">
                <img src="../../assets/images/star-icon2.png" alt="rating-icon">
                <img src="../../assets/images/star-icon2.png" alt="rating-icon">
                <span class="rating_count">12</span>
              </span>
          </h3>
        <p>Photographer</p>
        <div class="planner_required">
          <span>Has a car</span>
          <span>Adventurous</span>
          <span>Foodie</span>
          <span>Knows his bars</span>
          <span>Outdoor Enthusiast</span>
        </div>
        <p class="faetureplan_location"><img src="../../assets/images/location-icon.png" alt="location-icon"> Los Angeles, CA</p>
        <h4><span>Planning From</span> $10/day</h4>
      </div>
  </div>
  <div class="faetureplan_block">
        <div class="faetureplan_profile">
            <img src="../../assets/images/Fplanner_img3.png" alt="planners-image">
        </div>
        <div class="faetureplan_block_detail">
            <h3>Jesper C. 
                <span class="faetureplan_block_rating">
                  <img src="../../assets/images/star-icon2.png" alt="rating-icon">
                  <img src="../../assets/images/star-icon2.png" alt="rating-icon">
                  <img src="../../assets/images/star-icon2.png" alt="rating-icon">
                  <img src="../../assets/images/star-icon2.png" alt="rating-icon">
                  <img src="../../assets/images/star-icon2.png" alt="rating-icon">
                  <span class="rating_count">12</span>
                </span>
              </h3>
          <p>Photographer</p>
          <div class="planner_required">
            <span>Has a car</span>
            <span>Adventurous</span>
            <span>Foodie</span>
            <span>Knows his bars</span>
            <span>Outdoor Enthusiast</span>
          </div>
          <p class="faetureplan_location"><img src="../../assets/images/location-icon.png" alt="location-icon"> Los Angeles, CA</p>
          <h4><span>Planning From</span> $10/day</h4>
        </div>
  </div>
    <div class="faetureplan_block">
          <div class="faetureplan_profile">
              <img src="../../assets/images/Fplanner_img4.png" alt="planners-image">
          </div>
          <div class="faetureplan_block_detail">
              <h3>Jesper C. 
                  <span class="faetureplan_block_rating">
                    <img src="../../assets/images/star-icon2.png" alt="rating-icon">
                    <img src="../../assets/images/star-icon2.png" alt="rating-icon">
                    <img src="../../assets/images/star-icon2.png" alt="rating-icon">
                    <img src="../../assets/images/star-icon2.png" alt="rating-icon">
                    <img src="../../assets/images/star-icon2.png" alt="rating-icon">
                    <span class="rating_count">12</span>
                  </span>
                </h3>
            <p>Photographer</p>
            <div class="planner_required">
              <span>Has a car</span>
              <span>Adventurous</span>
              <span>Foodie</span>
              <span>Knows his bars</span>
              <span>Outdoor Enthusiast</span>
            </div>
            <p class="faetureplan_location"><img src="../../assets/images/location-icon.png" alt="location-icon"> Los Angeles, CA</p>
            <h4><span>Planning From</span> $10/day</h4>
          </div>
    </div>
    <div class="faetureplan_block">
            <div class="faetureplan_profile">
                <img src="../../assets/images/Fplanner_img5.png" alt="planners-image">
            </div>
            <div class="faetureplan_block_detail">
                <h3>Jesper C. 
                    <span class="faetureplan_block_rating">
                      <img src="../../assets/images/star-icon2.png" alt="rating-icon">
                      <img src="../../assets/images/star-icon2.png" alt="rating-icon">
                      <img src="../../assets/images/star-icon2.png" alt="rating-icon">
                      <img src="../../assets/images/star-icon2.png" alt="rating-icon">
                      <img src="../../assets/images/star-icon2.png" alt="rating-icon">
                      <span class="rating_count">12</span>
                    </span>
                  </h3>
              <p>Photographer</p>
              <div class="planner_required">
                <span>Has a car</span>
                <span>Adventurous</span>
                <span>Foodie</span>
                <span>Knows his bars</span>
                <span>Outdoor Enthusiast</span>
              </div>
              <p class="faetureplan_location"><img src="../../assets/images/location-icon.png" alt="location-icon"> Los Angeles, CA</p>
              <h4><span>Planning From</span> $10/day</h4>
            </div>
    </div>
    <div class="faetureplan_block">
              <div class="faetureplan_profile">
                  <img src="../../assets/images/Fplanner_img6.png" alt="planners-image">
              </div>
              <div class="faetureplan_block_detail">
                  <h3>Jesper C. 
                      <span class="faetureplan_block_rating">
                        <img src="../../assets/images/star-icon2.png" alt="rating-icon">
                        <img src="../../assets/images/star-icon2.png" alt="rating-icon">
                        <img src="../../assets/images/star-icon2.png" alt="rating-icon">
                        <img src="../../assets/images/star-icon2.png" alt="rating-icon">
                        <img src="../../assets/images/star-icon2.png" alt="rating-icon">
                        <span class="rating_count">12</span>
                      </span>
                    </h3>
                <p>Photographer</p>
                <div class="planner_required">
                  <span>Has a car</span>
                  <span>Adventurous</span>
                  <span>Foodie</span>
                  <span>Knows his bars</span>
                  <span>Outdoor Enthusiast</span>
                </div>
                <p class="faetureplan_location"><img src="../../assets/images/location-icon.png" alt="location-icon"> Los Angeles, CA</p>
                <h4><span>Planning From</span> $10/day</h4>
              </div>
    </div>
</section>
<!-- End Featured Planner section -->

<!-- Featured destination section -->
<section class="feature_wrapper">
  <div class="container-fluid">
      <div class="section_heading section_heading_rtl">
          <img src="../../assets/images/heading-icon2.png" alt="heading-icon">
          <h1>Featured Destinations</h1>
          <div class="head_border"></div>
      </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="feature_block">
          <img src="../../assets/images/destination-image1.png" alt="destination-image">
          <h1>New York</h1>
          <p>From $10/day</p>
        </div>
      </div>
      <div class="col-lg-3">
          <div class="feature_block">
            <img src="../../assets/images/destination-image2.png" alt="destination-image">
            <h1>Los Angeles</h1>
            <p>From $10/day</p>
          </div>
        </div>
        <div class="col-lg-3">
            <div class="feature_block">
              <img src="../../assets/images/destination-image3.png" alt="destination-image">
              <h1>New Orleans</h1>
              <p>From $10/day</p>
            </div>
          </div>
          <div class="col-lg-3">
              <div class="feature_block">
                <img src="../../assets/images/destination-image4.png" alt="destination-image">
                <h1>San Francisco</h1>
                <p>From $10/day</p>
              </div>
            </div>
            <div class="col-lg-3">
                <div class="feature_block">
                  <img src="../../assets/images/destination-image5.png" alt="destination-image">
                  <h1>Yellowst One</h1>
                  <p>From $10/day</p>
                </div>
              </div>
              <div class="col-lg-3">
                  <div class="feature_block single_txt">
                    <img src="../../assets/images/destination-image6.png" alt="destination-image">
                    <h1>Park City</h1>
                    <p>From $10/day</p>
                  </div>
                </div>
                <div class="col-lg-3">
                    <div class="feature_block single_txt">
                      <img src="../../assets/images/destination-image7.png" alt="destination-image">
                      <h1>Honolulu</h1>
                      <p>From $10/day</p>
                    </div>
                  </div>
                  <div class="col-lg-3">
                      <div class="feature_block single_txt">
                        <img src="../../assets/images/destination-image8.png" alt="destination-image">
                        <h1>San Juan</h1>
                        <p>From $10/day</p>
                      </div>
                    </div>
    </div>
  </div>
</section>
<!-- End Featured destination section -->
<!-- one trip section -->
<section class="tripplace_wrapper">
  <div class="container-fluid">
    <div class="section_heading">
      <img src="../../assets/images/heading-icon3.png" alt="heading-icon">
      <h1>Immersed. One trip at a time.</h1>
      <div class="head_border"></div>
    </div>
    <div class="trip_block">
      <div class="row">
        <div class="col-lg-4">
          <div class="trip_image">
            <img src="../../assets/images/trip-place-img1.png" alt="trip-place-image">
          </div>
        </div>
        <div class="col-lg-8">
          <div class="trip-content">
            <div class="place_heading">
              <div class="place_name">
                <h2>Yellowstone National Park</h2>
                <p>Planned by Lukas Zheng 
                  <span>
                    <img src="../../assets/images/star-icon.png" alt="star">
                    <img src="../../assets/images/star-icon.png" alt="star">
                    <img src="../../assets/images/star-icon.png" alt="star">
                    <img src="../../assets/images/star-icon.png" alt="star">
                    <img src="../../assets/images/star-icon.png" alt="star">
                  </span>
                </p>
              </div>
              <div class="request_blog">
                <button type="button">Request a paln</button>
              </div>
            </div>
            <div class="place_content">
              <p>We had a wonderful trip as we were lucky to see various wildlife such as bears, in addition 
                to the key wonders/scenery of Yellowstone. Our planner, Lukas, was extremely thorough and 
                knowledgeable about park, while ensuring we had sufficient free time for short walks at
                 various sites. His recommendations on other activities were fantastic as well. We highly 
                 recommend him.
                </p>
            </div>
            <div class="triprating_block">
              <p>Amy Liu</p>
              <p>
                  <img src="../../assets/images/star-icon.png" alt="star">
                  <img src="../../assets/images/star-icon.png" alt="star">
                  <img src="../../assets/images/star-icon.png" alt="star">
                  <img src="../../assets/images/star-icon.png" alt="star">
                  <img src="../../assets/images/star-icon.png" alt="star">
                  <span>june 2017</span>
              </p>
            </div>
          </div>
        </div>
     </div>
    </div>
    <div class="trip_block">
        <div class="row">
            <div class="col-lg-4">
              <div class="trip_image">
                <img src="../../assets/images/trip-place-img2.png" alt="trip-place-image">
              </div>
            </div>
            <div class="col-lg-8">
              <div class="trip-content">
                <div class="place_heading">
                  <div class="place_name">
                    <h2>From Honolulu to Kona</h2>
                    <p>Planned by Sean W. 
                      <span>
                        <img src="../../assets/images/star-icon.png" alt="star">
                        <img src="../../assets/images/star-icon.png" alt="star">
                        <img src="../../assets/images/star-icon.png" alt="star">
                        <img src="../../assets/images/star-icon.png" alt="star">
                        <img src="../../assets/images/star-icon.png" alt="star">
                      </span>
                    </p>
                  </div>
                  <div class="request_blog">
                    <button type="button">Request a paln</button>
                  </div>
                </div>
                <div class="place_content">
                  <p>Wow, Sean took the planning process really seriously and recommended a trip to the summit, 
                    which was an awesome place to go at dusk and watch the sun set. You hear the observatories 
                    "fire up" and move to what they are looking at in the night sky. Thanks and would recommend
                     Sean again.
                    </p>
                </div>
                <div class="triprating_block">
                  <p>Mike Lager</p>
                  <p>
                      <img src="../../assets/images/star-icon.png" alt="star">
                      <img src="../../assets/images/star-icon.png" alt="star">
                      <img src="../../assets/images/star-icon.png" alt="star">
                      <img src="../../assets/images/star-icon.png" alt="star">
                      <img src="../../assets/images/star-icon.png" alt="star">
                      <span>June 2017</span>
                  </p>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</section>
<!-- End one trip section -->

<!-- Week plan section -->
<section class="weekplan_wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7">
        <div class="weekplan_content">
          <h2>What’s your plan for the next long weekend?
            <span>Explore Now </span>
          </h2>
          <p>We are getting ready for your upcoming trip to  New York, Alaska, Hawaii, and more… <br>
            (From all of us at PLOY)</p>
          
        </div>
      </div>
      <div class="col-lg-5">
        <div class="weekplan_icon">
          <img src="../../assets/images/plan-icon1.png" alt="plan-icon">
          <img src="../../assets/images/plan-icon2.png" alt="plan-icon">
          <img src="../../assets/images/plan-icon3.png" alt="plan-icon">
          <img src="../../assets/images/plan-icon4.png" alt="plan-icon">
          <img src="../../assets/images/plan-icon5.png" alt="plan-icon">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Week plan section -->
<app-footer></app-footer>


<!-- login popup -->
<app-login-popup></app-login-popup>


<!-- signup popup -->
<app-signup-popup></app-signup-popup>
<!-- End signup popup -->